---
export const prerender = false;
import ArticleNav from "@components/articles/ArticleNav";
import "@styles/articles/articles.css";
import ArticleContent from "@components/articles/ArticleContent";
import Authors from "@components/pages/article-item/Authors";
import BaseLayout from "@layouts/BaseLayout.astro";
import Breadcrumb from "@components/common/Breadcrumb.astro";
import { resolveArticleType } from "@lib/articles";
import { getArticleById } from "src/api/api";
import siteIcon from "@assets/icons/siteIconLight.png";
import Image from "astro/components/Image.astro";
const { id } = Astro.params;
if (!id) return new Response(null, { status: 404 });
const response = await getArticleById(id);
if (!response) return new Response(null, { status: 404 });
const articleData = response.data;
---

<BaseLayout
	head={{
		title: articleData.title,
		description: articleData.abstract,
	}}
>
	<div class="container mx-auto mt-8">
		<Breadcrumb
			{...{
				navigation: [
					{ name: "Home", url: "/" },
					{
						name: "Proceedings",
					},
					{
						name: "Advances in Mechanics and Control",
						url: "/proceedings/amc",
					},
					{
						name: `Volume ${articleData.volume.volume_number}`,
						url: `/proceedings/amc/${articleData.volume.volume_number}`,
					},
					{
						name: `${id}`,
						url: `/proceedings/amc/${articleData.volume.id}/${id}`,
					},
				],
			}}
		/>
	</div>
	<div class="container mx-auto">
		<div class="border-b-secondary border-b-2 pb-2">
			<div class="flex flex-row justify-between items-center">
				<div>
					<img
						src="/images/logo.png"
						class="w-28 h-28 mx-auto"
						alt=""
					/>
					<div
						class="font-semibold text-center font-[ZT-Neue-Ralewe-Regular] text-xl"
					>
						<p>ACTA MECHANICA</p><p>ET IMPERIUM</p>
					</div>
				</div>
				<div class="text-center my-16">
					<h1 class="text-3xl uppercase">
						Advances In Mechanics and Control
					</h1>
					<h2 class="mt-4">
						Volume {articleData.volume.volume_number}, {
							new Date(
								articleData.volume.published_at
							).toLocaleString("en-US", {
								month: "long",
								year: "numeric",
							})
						}, {
							articleData.pages_in_volume
								? `Pages ${articleData.pages_in_volume}`
								: articleData.id.toUpperCase()
						}
					</h2>
				</div>
				<div>
					<img
						src={`/images/covers/${articleData.volume.id}.webp`}
						width="auto"
						class="h-60 w-auto rounded-2xl"
					/>
				</div>
			</div>
		</div>
		<div class="mt-8 border-b-secondary border-b-2 pb-4">
			<div class="text-center my-16">
				<h1 class="text-3xl font-semibold mt-4">{articleData.title}</h1>
				<Authors
					volume={articleData.volume}
					client:load
					authors={articleData.authors}
				/>
				<div class="text-primary-text/40">
					{
						articleData.received_at && (
							<p>
								Received at{" "}
								{new Date(
									articleData.received_at
								).toLocaleDateString()}
							</p>
						)
					}
					{
						articleData.revised_at && (
							<p>
								Revised at{" "}
								{new Date(
									articleData.revised_at
								).toLocaleDateString()}
							</p>
						)
					}
				</div>
			</div>
			<div class="flex flex-row justify-between text-primary-text/60">
				<span
					class="pb-1 border-b-accent border-b-1 font-semibold w-fit text-left"
				>
					{resolveArticleType(articleData.type)}
				</span>
				<span
					class="pb-1 border-b-accent border-b-1 font-semibold w-fit text-right hover:text-primary-text hover:pb-0 hover:border-b-2"
				>
					<a
						target="_blank"
						href=`https://doi.org/${articleData.doi}`
					>
						{articleData.doi}
					</a>
				</span>
			</div>
		</div>

		<div class="flex flex-row article_grid">
			<ArticleNav client:load article={articleData} />
			<ArticleContent article={articleData} />
		</div>
	</div>
</BaseLayout>
