---
export const prerender = false;
import BaseInformationPageLayout from "@layouts/BaseInformationPageLayout.astro";
import ArticleCard from "@components/common/articles/ArticleCard";
import SectionTitleNoContainer from "@components/common/SectionTitleNoContainer.astro";
const { id } = Astro.params;
import mainImage from "@assets/images/mainImages/futuristic_spaceship_orbits_planet_powered_by_solar_panels_fuel.jpg";
import { NAVIGATION } from "@lib/client/navigation";
import { ARTICLES } from "src/pages/articles/ExampleArticle";
import { getProceedingById, getProceedingVolumeById } from "src/api/api";
import SerialFormatting from "@components/common/SerialFormatting";

const article = ARTICLES[0];

if (!id) return new Response(null, { status: 404 });

const proceedingResponse = await getProceedingById(
	"advances-in-mechanics-and-control"
);
if (!proceedingResponse) return new Response(null, { status: 404 });
const proceedingData = proceedingResponse.data;
const volume = proceedingData.volumes.find((v) => v.volume_number == id);
if (!volume) return new Response(null, { status: 404 });
const response = await getProceedingVolumeById(volume.id);
if (!response) return new Response(null, { status: 404 });
const volumeData = response.data;
volumeData.articles = volumeData.articles.sort((a, b) =>
	parseInt(a.id.split("-")[2]) < parseInt(b.id.split("-")[2]) ? -1 : 1
);
---

<BaseInformationPageLayout
	head={{
		title: volumeData.title,
		description: volumeData.description,
	}}
	navigation={{
		navigation: [
			...NAVIGATION.proceedings.advancesInMechanicsAndControl,

			{
				name: `Volume ${volumeData.volume_number}`,
				url: `/proceedings/amc/${volumeData.volume_number}`,
			},
		],
	}}
	image={mainImage}
	pageTitle={`${volumeData.proceeding.title}`}
>
	<div class="border-y-accent border-b-2">
		<div class="container mx-auto py-4">
			<h1 class="text-3xl">
				Proceedings, Volume {volumeData.volume_number}, <SerialFormatting
					str={volumeData.title}
					wrapper="span"
				/>
			</h1>
		</div>
	</div>
	<div class="container mx-auto mt-8">
		<div class="grid grid-cols-[240px_1fr] items-center gap-8 mt-4">
			<img
				src={`/images/covers/${volumeData.id}.webp`}
				alt={volumeData.title}
				height="auto"
				class="w-60 h-auto rounded-2xl"
			/>
			<div
				class="bg-secondary/5 h-full flex flex-col justify-between rounded-base px-4 py-4 text-lg w-full"
			>
				<div>
					<p class="text-xl font-bold">
						<SerialFormatting
							str={volumeData.conference_full_name}
							wrapper="span"
						/>
					</p>
					<p class="text-sm my-1 text-tertiary-text">
						{volumeData.place} |
						{volumeData.held_at}
					</p>
				</div>
				<div>
					<h2 class="font-bold">Volume Editors:</h2>
					<div class="text-sm">
						{volumeData.editors.map((ed) => <p>{ed.full_name}</p>)}
					</div>
				</div>
				<div class="text-sm my-1 text-tertiary-text">
					{
						volumeData.total_pages && (
							<p>Number of Papers: {volumeData.total_pages}</p>
						)
					}
					<p>Views 000 | Downloads 000 | Citations 0</p>
				</div>
			</div>
		</div>
		<div class="grid grid-cols-[240px_1fr] items-center gap-8">
			<div></div>
			<div>
				<SectionTitleNoContainer title="Articles" top="4" />
				<div class="flex flex-col gap-8 mt-4">
					{
						volumeData.articles.length ? (
							volumeData.articles.map((article) => (
								<ArticleCard
									client:visible
									{...{
										...article,
										link: `${volumeData.volume_number}/${article.id}`,
									}}
								/>
							))
						) : (
							<p class="font-semibold">
								Articles will appear here when they are
								published
							</p>
						)
					}
				</div>
			</div>
		</div>
	</div>
</BaseInformationPageLayout>
