---
import BaseInformationPageLayout from "@layouts/BaseInformationPageLayout.astro";
import { NAVIGATION } from "@lib/client/navigation";
import mainImage from "@assets/images/mainImages/futuristic_spaceship_orbits_planet_powered_by_solar_panels_fuel.jpg";
import { ARTICLES } from "src/pages/articles/ExampleArticle";
import { getProceedingById } from "src/api/api";
import ProceedingVolume from "@components/proceedings/ProceedingVolume";
const article = ARTICLES[0];
const response = await getProceedingById("advances-in-mechanics-and-control");
if (!response) return new Response(null, { status: 404 });
const proceedingData = response.data;
const volumes = proceedingData.volumes.sort((a, b) => {
	return a.volume_number < b.volume_number ? 1 : -1;
});
---

<BaseInformationPageLayout
	head={{
		title: proceedingData.title,
		description: proceedingData.title,
	}}
	navigation={{
		navigation: NAVIGATION.proceedings.advancesInMechanicsAndControl,
	}}
	image={mainImage}
	pageTitle={proceedingData.title}
>
	<div class="container mx-auto mt-8">
		<div class="flex flex-row divide-secondary">
			<div
				class="flex flex-col gap-8 pr-8 left_navigation-sticky min-w-1/5"
			>
				<div>
					<h2 class="font-semibold pb-2 border-b-1 border-b-accent">
						All volumes
					</h2>

					<ul class="flex flex-col gap-2 mt-4">
						{
							volumes.map((vol) => (
								<li>
									<a
										class="hover-accent"
										href={`/proceedings/amc/${vol.volume_number}`}
									>
										Volume {vol.volume_number}
									</a>
								</li>
							))
						}
					</ul>
				</div>
			</div>
			<div
				class="pl-8 flex flex-wrap flex-row gap-8 border-l-border-primary border-l-1"
			>
				{
					volumes.map((vol) => (
						<>
							<ProceedingVolume
								image={`/images/covers/${vol.id}.webp`}
								volumeData={vol}
								proceedingId="amc"
							/>
						</>
					))
				}
			</div>
		</div>
	</div>
</BaseInformationPageLayout>
